.reveal section h1,h2 {
  font-size: 1.25em;
}

.reveal section p {
  text-align: left;
}

.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}

.reveal .big-math {
  font-size: 150%;  
}

.reveal .left {
  font-size: 67%;
  left:-8.33%;
  float: left;
  width:48%;
}

.reveal .right {
  font-size: 67%;
  left:31.25%;
  float: right;
  width:48%;
}

.red {
  color: red;
}