
/* This is here instead of in template.html
   to allow for in-browser changes  */
@import "./plugin/highlight/monokai-sublime.css";

/* RStudio tweaks to CSS */
/* heading1-size */
/* heading2-size */
/* heading3-size */
/* heading4-size */
.reveal h1 { font-size: 2.2em; }
.reveal h2 { font-size: 1.8em; }
.reveal h3 { font-size: 1.5em; }
.reveal h4 { font-size: 1.25em; }
.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0px 0px;
}
.reveal table {
  border-width: 2px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: #111;
  border-collapse: collapse;
  font-size: 0.7em;
}
.reveal table th {
  border-width: 2px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: #111;
}
.reveal table td {
  border-width: 2px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: #111;
}
/* $if(theme-dark)$ */
/* .reveal section img { background: rgba(255, 255, 255, 0.85); } */




/* background-color = white */
.reveal-viewport { background: #fff; background-color: #fff; }




/* title background = blue-gray rgb(68, 84, 106) */
/* title font color = white */
.reveal .title, .reveal .author {
  background: rgb(68, 84, 106);
  background-color: rgb(68, 84, 106);
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.reveal .title  {
  padding: 30px;
}

.reveal .author {
  padding-top: 0px;
  padding-bottom: 30px;
}



/* heading-color background = blue-ish */
/* main-color = black */
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { color: rgb(47, 85, 151); }
.reveal { color: #000; }
.reveal .r-frame { border: 4px solid #111; }


/* selection-background-color #05668d = blue sapphire */
.reveal ::selection { background: rgb(68, 84, 106); }
.reveal ::-moz-selection { background: rgb(68, 84, 106); }


/* link-color standard blue */
/* link-color-hover standard blue */
.reveal a { color: rgb(0, 0, 255); }
.reveal a:hover .r-frame { border-color: rgb(0, 0, 255); }
.reveal .controls { color: rgb(0, 0, 255); }
.reveal .progress { color: rgb(0, 0, 255); }
.reveal .roll span:after { background: rgb(0, 0, 255); }
.reveal a:hover { color: rgb(0, 0, 255); }


/* strong = orange rgb(255, 192, 0) */
.reveal strong { background-color: rgb(255, 192, 0); }
.reveal .strong { 
  background-color: rgb(255, 192, 0); 
  padding: 2px;

}



/* main-font */
.reveal { font-family: Arial, Helvetica, sans-serif; }


/* main-font-size */
.reveal { font-size: 30px; }

/* In templates this is 55% of 40px = 22px */
.reveal pre { font-size: 18px; }



/* heading-margin */
/* heading-font */
/* heading-font-weight */
/* heading-line-height */
/* heading-letter-spacing */
/* heading-text-transform */
/* heading-text-shadow */

/*.reveal .slides {
  text-align: left;
}*/


.reveal h1, 
.reveal h2, 
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /*text-align: center;*/
  /* margin: 0 0 20px 0; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: normal; */
  /* line-height: 1.2; */
  /* letter-spacing: -0.03em; */
  text-transform: none;
  /* text-shadow: none; */
}


/* heading1-text-shadow */
/* .reveal h1 { text-shadow: none; } */



/* .plaintext .hljs { font-style: italic; } */

.plaintext {
  display: block;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #F7B801;
  margin-bottom: 60px !important;
}



/* 
Make sure we get the first font for screenshots using decktape 
*/

.reveal pre {
  font-family: "Consolas", monospace;
  line-height: 1.2em; }

.reveal code {
  font-family: "Consolas", monospace; }
  
  
















/* RStudio tweaks to CSS */
/* heading1-size */
/* heading2-size */
/* heading3-size */
/* heading4-size */
.reveal h1 { font-size: 2.5em; }
.reveal h2 { font-size: 2.0em; }
.reveal h3 { font-size: 1.5em; }
.reveal h4 { font-size: 1.25em; }
.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0px 0px;
}
.reveal table {
  border-width: 2px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: #111;
  border-collapse: collapse;
  font-size: 0.7em;
}
.reveal table th {
  border-width: 2px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: #111;
}
.reveal table td {
  border-width: 2px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: #111;
}
/* $if(theme-dark)$ */
/* .reveal section img { background: rgba(255, 255, 255, 0.85); } */




/* background-color #9fbbcc = Pale Cerulean */
.reveal-viewport { background: #9fbbcc; background-color: #9fbbcc; }


/* heading-color #331e38 = Dark Purple */
/* main-color */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { color: #05668d; }
.reveal { color: #331e38; }
.reveal .r-frame { border: 4px solid #331e38; }


/* selection-background-color #05668d = blue sapphire */
.reveal ::selection { background: #05668d; }
.reveal ::-moz-selection { background: #05668d; }


/* link-color #e84855 = red crayola */
/* link-color-hover #e84855 = red crayola */
.reveal a { color: #e84855; }
.reveal a:hover .r-frame { border-color: #e84855; }
.reveal .controls { color: #e84855; }
.reveal .progress { color: #e84855; }
.reveal .roll span:after { background: #e84855; }
.reveal a:hover { color: #e84855; }


/* strong = selective yellow */
.reveal strong { background-color: #F7B801; }






